<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.root.jobify"
    xmlns:tools="http://schemas.android.com/tools" >
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        tools:node="merge"
    android:targetSdkVersion="24" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Views.LogInCompletition.LogInCompletitionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Views.SignUpCompletitionPage.SignUpCompletitionActivity"/>
        <activity android:name=".Views.FacebookSignUpPage.FacebookSignUpActivity"/>
        <activity android:name=".Views.FacebookLogInPage.FacebookLogInActivity"/>
        <activity android:name=".Views.MainApplicationActivity"/>
        <activity android:name=".Views.PersonDetailPage.PersonDetailActivity"/>
        <activity android:name=".Views.ProfileEditionPage.ProfileEditionActivity"/>
        <activity android:name=".Views.SkillsEditionPage.SkillsEditionActivity"/>
        <activity android:name=".Views.ExperiencesEditionPage.ExperiencesEditionActivity"/>
        <activity android:name=".Views.ChatPage.ChatActivity"/>
        <activity android:name=".Views.ProfileSearchFilterPage.ProfileSearchActivity"/>
        <service
            android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="OPEN_ACTIVITY_1" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <!-- FirebaseInstanceIdService performs security checks at runtime,
          no need for explicit permissions despite exported="true"             -->
        <service android:name=".MyFirebaseInstanceIdService" android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

    </application>
</manifest>
